*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/release/
*.log
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
output.json
*.hprof
.idea/
